body {
		font-family: Verdana;
}
			
header h1 {
		text-align: center;
		padding-bottom: 40px;
		border-bottom: 1px #000 solid;
}
			
#tutorial {
		text-align: center;
		margin-top: 75px;
}
			
#tutorial p {
		text-align: left;
}
			
#tutorial img {
  width: 75%;
}
			
footer {
		border-top: 1px #000 solid;
		margin-top: 70px;
		text-align: center;
}
